<div class="header">
    <p class="header-text">Kanban Project Management Tool</p>
    <a [routerLink]="['/help']">
        <mat-icon class="help" aria-hidden="false" aria-label="Example help icon" fontIcon="help_outline"></mat-icon>
    </a>
    <div class="profile clickable" [matMenuTriggerFor]="menu"><span class="initials">SM</span></div>
    <mat-menu #menu="matMenu" yPosition="below">
        <a [routerLink]="['/privacy-policy']" [routerLinkActive]="['nav-active']"><button mat-menu-item>Privacy Policy</button></a>
        <a [routerLink]="['/legal-notice']" [routerLinkActive]="['nav-active']"><button mat-menu-item>Legal Notice</button></a>
        <button (click)="logout()" mat-menu-item>Log out</button>
    </mat-menu>
</div>