.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: var(--padding-content);
    background-color: var(--col-light-1);
    box-shadow: var(--box-shadow-1);
    height: 60px;
}

.header-text {
    margin-right: auto;
}

.help {
    margin-left: auto;
    color: var(--col-gray);
    font-size: 17px;
    display: flex;
    align-items: center;
    &:hover {
        font-size: 20px;
    }
}

.profile {
    border: 3px solid var(--col-dark-1);
    border-radius: 100%;
    padding: 10px;
}

.initials {
    color: var(--col-light-blue-1);
}

.profile:hover {
    background-color: var(--col-light-gray-1);
}