<div class="summary-box">
  <div class="headline-box">
    <div class="headline">Join 360</div>
    <div class="vertical-line"></div>
    <div class="sub-headline">Key Metrics at a Glance</div>
    <div class="horicontal-line"></div>
  </div>

  <div class="grid-box">
    <div class="to-do-box box-item">
      <span><mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit"></mat-icon></span>
      <div class="text-box">
        <span class="box-item-number">{{ taskSummary.toDoTasks }}</span>
        <span class="box-item-text">To-do</span>
      </div>
    </div>

    <div class="done-box box-item">
      <span><mat-icon aria-hidden="false" aria-label="done icon" fontIcon="done"></mat-icon></span>
      <div class="text-box">
        <span class="box-item-number">{{ taskSummary.doneTasks }}</span>
        <span class="box-item-text">Done</span>
      </div>
    </div>

    <div class="urgent-box box-item-2">
      <div class="urgent">
        <span><mat-icon class="warn" aria-hidden="false" aria-label="urgent icon"
                        fontIcon="keyboard_double_arrow_up"></mat-icon></span>
        <div class="text-box">
          <span class="box-item-number">{{ taskSummary.urgentTasks }}</span>
          <span class="box-item-text">Urgent</span>
        </div>
      </div>

      <div class="vert-divider"></div>

      <div class="due-to-box">
        <div class="date">{{ taskSummary.closestUrgentDeadline ? (taskSummary.closestUrgentDeadline | date:'MMMM d, y') : '----------' }}</div>
        <div class="deadline">Upcoming Deadline</div>
      </div>
    </div>

    <div class="greeting-box">
      <span class="greeting">{{ this.greetingByTime }},</span>
      <span class="username">{{ userService.loggedUser.name }}</span>
    </div>

    <div class="task-box box-item">
      <div class="text-box">
        <div class="box-item-number">{{ taskSummary.totalTasks }}</div>
        <div class="box-item-text">
          <div>Tasks in</div>
          <div>Board</div>
        </div>
      </div>
    </div>

    <div class="progress-box box-item">
      <div class="text-box">
        <div class="box-item-number">{{ taskSummary.inProgressTasks }}</div>
        <div class="box-item-text">
          <div>Tasks in</div>
          <div>progress</div>
        </div>
      </div>
    </div>

    <div class="feedback-box box-item">
      <div class="text-box">
        <div class="box-item-number">{{ taskSummary.awaitingFeedbackTasks }}</div>
        <div class="box-item-text">
          <div>Awaiting</div>
          <div>feedback</div>
        </div>
      </div>
    </div>
  </div>
</div>
