@import '../../../../../styles/variables';
@import '../../../../../styles/media-queries';
@import '../../../../../styles/functions';

@mixin common-styles-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  padding: 15px;
  background-color: $col-light-gray-2;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-box {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.headline {
  font-size: scale-between(24, 48);
  font-weight: bold;
}

.vertical-line {
  width: 2px;
  height: 35px;
  background-color: $col-light-blue;
}

.sub-headline {
  font-size: scale-between(16, 32);
  color: $col-dark-gray;
}

.box-item, .box-item-2  {
  @include common-styles-box;

  mat-icon {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    background-color: $col-primary;
  }

  mat-icon.warn  {
    background-color: $col-orange;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-item-number {
    font-weight: bold;
    font-size: 40px;
  }

  .box-item-text {
    font-size: 11px;
    color: $col-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.vert-divider {
  width: 2px;
  height: 100%;
  background-color: $col-dark-gray;
}

.due-to-box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: calc(50% - 1px);

  .date {
    font-size: 14px;
    font-weight: bold;
    color: $col-primary;
  }

  .deadline {
    font-size: 11px;
    color: $col-primary;
  }
}

.greeting-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;

  .greeting {
    font-size: scale-between(16, 32);
    color: $col-primary;
  }

  .username {
    font-size: scale-between(16, 32);
    color: $col-light-blue;
    font-weight: bold;
  }
}

.grid-box {
  max-width: #{$max-width}px;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: auto;
  grid-template-areas:
    "greeting greeting greeting greeting greeting greeting"
    "todo todo todo done done done"
    "urgent urgent urgent urgent urgent urgent"
    "task task progress progress feedback feedback";
  gap: 20px 20px;
}

.to-do-box {
  grid-area: todo;
}

.done-box {
  grid-area: done;
}

.urgent-box {
  grid-area: urgent;
  @include common-styles-box;
  column-gap: 20px;

  .urgent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    width: calc(50% - 1px);
    background-color: inherit;
    border-radius: 20px;
  }
}

.greeting-box {
  grid-area: greeting;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-box {
  grid-area: task;
}

.progress-box {
  grid-area: progress;
}

.feedback-box {
  grid-area: feedback;
}

@include small-screen {
  .headline-box {
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    align-items: center;
  }

  .vertical-line {
    display: none;
  }

  .grid-box {
    grid-template-columns: repeat(6, 50px);
    justify-content: center;
  }
}

@media only screen and (max-width: 460px) {
  .grid-box {
    grid-template-columns: repeat(6, 1fr);

  }
}
