@import '../../../styles/variables';
@import '../../../styles/media-queries';
.background {
  background-color: $col-light-gray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  row-gap: 15px;
}

.privacy-legal-container {
  display: flex;
  column-gap: 25px;
  font-size: 11px;
  color: $col-gray;
}

.privacy-legal-container>*:hover {
  color: $col-light-blue;
}

@include medium-screen {
  .background {
      padding: 10px 0;
      row-gap: 15px;
  }
  .auth-container {
      display: flex;
      justify-content: center;
      width: calc(100% - 20px);
      margin: 0;
  }
  .privacy-legal-container {
      margin-top: 0;
  }
}

@include small-screen {
  .background {
    height: unset;
  }
  .auth-container {
      display: block;
      width: calc(100% - 20px);
  }
}
