<div class="task-manager-container">
  <div class="title">Board</div>

  <div class="search-form-field">
    <label for="taskSearch">Find Task</label>
    <div class="input-wrapper">
      <span class="icon"><mat-icon color="primary" matPrefix>search</mat-icon></span>
      <input id="taskSearch" type="text" (keyup)="onKeyUp()" [(ngModel)]="searchValue" placeholder="Find Task">
    </div>
  </div>


  <button (click)="onCreateTask()" mat-raised-button color="primary" type="button">
    <mat-icon class="add-icon">add</mat-icon>
    Add Task
  </button>
</div>
