@import '../../../../../../styles/variables';
@import '../../../../../../styles/media-queries';
@import '../../../../../../styles/functions';

.task-manager-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;

  .title {
    font-size: scale-between(24, 48);
    font-weight: bold;
    flex-shrink: 0;
    margin-right: auto;
  }

  button {
    flex-shrink: 0;

    &:hover {
      background-color: $col-light-blue;
    }
  }
}

.search-form-field {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  display: none;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

input {
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: $col-primary;
  outline: none;
}

@include medium-screen {
  .task-manager-container .search-form-field {
    order: 3;
    flex-basis: 100%;
  }

  .task-manager-container{
    row-gap: 20px;
  }
}

@include small-screen {
  .task-manager-container .search-form-field {
    width: 100%;
  }
}


