@import '../../../../../styles/media-queries';

.board-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-task-manager {
  height: auto;
}

app-task-status-list {
  flex:1;
}








