@import '../../../../../../styles/media-queries';

.task-status-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

@include extra-large-screen {
  .task-status-list-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 675px) {
  .task-status-list-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
