<div class="header">
  <a class="logo" href="summary"><img src="../../../assets/images/logo_dark.svg" alt="Join Logo"></a>
  <div class="header-text">Kanban Project Management Tool</div>
  <a class="help-icon" [routerLink]="['/help']">
    <mat-icon class="help" aria-hidden="false" aria-label="Example help icon" fontIcon="help_outline"></mat-icon>
  </a>

  <div [matMenuTriggerFor]="menu" class="profile clickable">
    <mat-icon  [ngStyle]="{'color': '#fff'}">person</mat-icon>
  </div>

  <mat-menu #menu="matMenu" yPosition="below">
    <a [routerLink]="['/help']" class="help-menu">
      <button mat-menu-item>Help</button>
    </a>
    <a [routerLink]="['/privacy-policy']" [routerLinkActive]="['nav-active']">
      <button mat-menu-item>Privacy Policy</button>
    </a>
    <a [routerLink]="['/legal-notice']" [routerLinkActive]="['nav-active']">
      <button mat-menu-item>Legal Notice</button>
    </a>
    <button (click)="logout()" mat-menu-item>Log out</button>
  </mat-menu>
</div>
