@import '../../../../../../styles/variables';
@import '../../../../../../styles/media-queries';
.cont-lvl-1 {
    display: flex;
}

.cont-lvl-2-1 {
    display: flex;
    flex-direction: column;
    background-color: $col-primary;
    padding: 0 20px;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

img {
    width: 30px;
    height: auto;
}

h1 {
    margin: 10px 0 0 0;
}

.sub-text {
    margin-top: 5px;
    font-size: 14px;
}

.divider {
    width: 50px;
    height: 2px;
    background-color: $col-light-blue;
    margin-top: 5px;
}

.cont-lvl-2-2 {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    column-gap: 30px;
}

.avatar {
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    border: 3px solid #fff;
}

mat-icon {
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    max-width: 350px;
    width: 30vw;
    margin-bottom: 5px;
}

.button-box {
    display: flex;
    column-gap: 10px;
}

@include medium-screen {
    .cont-lvl-1 {
        flex-direction: column;
    }
    img {
        display: none;
    }
    .cont-lvl-2-1 {
        padding: 75px 20px;
    }
    .cont-lvl-2-2 {
        position: relative;
        padding: 60px 20px 40px 20px;
        width: 100%;
    }
    .avatar {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .user-form {
        width: 100%;
    }
    mat-form-field {
        width: 100%;
        max-width: unset;
    }
}