@import '../../../../../../../../../styles/variables';
@import '../../../../../../../../../styles/media-queries';

.title-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  color: inherit;

  .title {
    margin-right: auto;
    color: white;
  }
}

.category {
  height: fit-content;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 10px;
  color: #fff;
}

.title,
.description,
.user-name {
  color: #000;
}

.title {
  font-size: clamp(16px, 2vw, 22px);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
}

.description {
  font-size: clamp(12px, 2vw, 16px);
  line-height: 17px;
}

.label, .value {
  font-size: 14px;
}

.label {
  color: $col-dark-gray;
  display: inline-block;
  min-width: 100px;
}

.value {
  color: #000;
}

.priority-container,
.priority-inner-container {
  display: flex;
}

.assigned-to-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  .user-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 10px;
  }
}

.subtask-container {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-dialog-container {
  height: fit-content;
  width: fit-content;
}

.cdk-overlay-pane {
  margin: 0 10px !important;
}

mat-dialog-content {
  padding: 0 24px !important;
}

mat-dialog-actions {
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}


