@import '../../../../styles/media-queries';

.task-view-box {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.headline {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bold;
}

.form-field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field-group > * {
  flex: 1 1 calc(50% - 30px); /* 50% width minus 30px for margin */
  margin-right: 30px;
}

.priority-box {
  display: flex;
  align-items: center;
}

app-chip-field {
  display: block;
}

app-chip-field {
  margin-bottom: 20px;
}

.button-box {
  display: flex;
  column-gap: 10px;
}

@include large-screen {
  .form-field-group > * {
    flex: 100%;
    margin-right: 0;
  }
}
