<div class="padding-main-content">
  <h1>Privacy Policy</h1>
  <p>The responsible party in terms of privacy policy laws, especially the EU General Data Protection Regulation (GDPR),
    is:</p>
  <p>Max Mustermann</p>
  <h2>Your Rights as a Data Subject</h2>
  <p>Under the contact details of our data protection officer provided below, you can exercise the following rights at any
    time:</p>
  <ul>
    <li>Information about your stored data and its processing (Art. 15 GDPR),</li>
    <li>Correction of incorrect personal data (Art. 16 GDPR),</li>
    <li>Deletion of your stored data (Art. 17 GDPR),</li>
    <li>Restriction of data processing, if we are not yet allowed to delete your data due to legal obligations (Art. 18
      GDPR),
    </li>
    <li>Objection to the processing of your data by us (Art. 21 GDPR), and</li>
    <li>Data portability, provided you have consented to data processing or have concluded a contract with us (Art. 20
      GDPR).
    </li>
  </ul>
  <p>If you have given us consent, you can revoke it at any time with effect for the future.</p>
  <p>You can also contact a supervisory authority at any time with a complaint, e.g., the supervisory authority of the
    federal state of your residence or the authority responsible for us as the responsible entity.</p>
  <p>A list of supervisory authorities (for the non-public sector) with address can be found at: <a
    href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank"
    rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>
  <p></p><h2>Cookies</h2>
  <p>Like many other websites, we also use so-called "cookies". Cookies are small text files that are stored on your
    device (laptop, tablet, smartphone, etc.) when you visit our website.</p>
  <p>You can delete individual cookies or the entire cookie inventory. In addition, you will receive information and
    instructions on how these cookies can be deleted or their storage can be blocked in advance. Depending on the provider
    of your browser, you can find the necessary information under the following links:</p>
  <ul>
    <li>Mozilla Firefox: <a href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen"
                            target="_blank" rel="nofollow noopener">https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a>
    </li>
    <li>Internet Explorer: <a
      href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies"
      target="_blank" rel="nofollow noopener">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a>
    </li>
    <li>Google Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=de" target="_blank"
                          rel="nofollow noopener">https://support.google.com/accounts/answer/61416?hl=de</a></li>
    <li>Opera: <a href="http://www.opera.com/de/help" target="_blank"
                  rel="nofollow noopener">http://www.opera.com/de/help</a></li>
    <li>Safari: <a href="https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE" target="_blank"
                   rel="nofollow noopener">https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</a></li>
  </ul>
  <h3>Storage duration and cookies used:</h3>
  <p>If you allow us to use cookies through your browser settings or consent, the following cookies may be used on our
    websites:</p>
  <p></p><h2>Technically Necessary Cookies</h2>
  <h3>Type and purpose of processing:</h3>
  <p>We use cookies to make our website more user-friendly. Some elements of our website require that the calling browser
    can be identified even after a page change.</p>
  <p>The purpose of using technically necessary cookies is to simplify the use of websites for users. Some functions of
    our website cannot be offered without the use of cookies. For these, it is necessary that the browser is recognized
    even after a page change.</p>
  <p>We require cookies for the following applications:</p>
  <p></p><h3>Legal basis and legitimate interest:</h3>
  <p>The processing is carried out in accordance with Art. 6 Para. 1 lit. f GDPR based on our legitimate interest in a
    user-friendly design of our website.</p>
  <h3>Recipients:</h3>
  <p>The data recipients may be technical service providers who act as processors for the operation and maintenance of our
    website.</p>
  <p></p><h3>Provision prescribed or necessary:</h3>
  <p>The provision of the aforementioned personal data is neither legally nor contractually required. Without this data,
    however, the service and functionality of our website cannot be guaranteed. In addition, individual services and
    features may not be available or restricted.</p>
  <h3>Objection</h3>
  <p>Please read the information about your right to object according to Art. 21 GDPR below.</p>
  <p></p><h2>Registration on our website</h2>
  <h3>Type and purpose of processing:</h3>
  <p>For registration on our website, we require some personal data that is transmitted to us via an input mask.</p>
  <p>At the time of registration, the following data is also collected:</p>
  <p></p><p>Your registration is necessary for providing certain content and services on our website.</p>
  <h3>Legal basis:</h3>
  <p>The processing of the data entered during registration is based on the user's consent (Art. 6 Para. 1 lit. a
    GDPR).</p>
  <h3>Recipients:</h3>
  <p>The data recipients may be technical service providers who act as processors for the operation and maintenance of our
    website.</p>
  <p></p><h3>Storage duration:</h3>
  <p>Data is only processed in this context as long as the corresponding consent is available.</p>
  <h3>Provision prescribed or necessary:</h3>
  <p>The provision of your personal data is voluntary, solely based on your consent. Without providing your personal data,
    we cannot grant you access to our content.</p>
  <p></p><h2>Contact Form</h2>
  <h3>Type and purpose of processing:</h3>
  <p>The data you enter will be stored for the purpose of individual communication with you. Providing a valid email
    address and your name is required for this. This serves to assign the request and subsequently answer it. Providing
    further data is optional.</p>
  <h3>Legal basis:</h3>
  <p>The processing of the data entered in the contact form is based on a legitimate interest (Art. 6 Para. 1 lit. f
    GDPR).</p>
  <p>By providing the contact form, we want to enable you to contact us easily. Your details will be stored for the
    purpose of processing the request and for possible follow-up questions.</p>
  <p>If you contact us to request an offer, the processing of the data entered in the contact form will take place to
    carry out pre-contractual measures (Art. 6 Para. 1 lit. b GDPR).</p>
  <h3>Recipients:</h3>
  <p>The data recipients may be processors.</p>
  <p></p><h3>Storage duration:</h3>
  <p>Data will be deleted no later than 6 months after processing the request.</p>
  <p>If a contractual relationship is established, we are subject to the statutory retention periods according to the
    German Commercial Code (HGB) and delete your data after these periods have expired.</p>
  <h3>Provision prescribed or necessary:</h3>
  <p>The provision of your personal data is voluntary. However, we can only process your request if you provide us with
    your name, email address, and the reason for the request.</p>
  <p></p><h2>SSL Encryption</h2>
  <p>To protect the security of your data during transmission, we use state-of-the-art encryption methods (e.g., SSL) via
    HTTPS.</p>
  <p></p>
  <hr>
  <h2>Information about your right to object according to Art. 21 GDPR</h2>
  <h3>Individual Right to Object</h3>
  <p>You have the right to object at any time, for reasons arising from your particular situation, to the processing of
    your personal data based on Art. 6 Para. 1 lit. f GDPR (data processing on the basis of a balance of interests); this
    also applies to profiling based on this provision as per Art. 4 No. 4 GDPR.</p>
  <p>If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds
    for the processing that override your interests, rights, and freedoms or the processing serves to assert, exercise, or
    defend legal claims.</p>
  <h3>Recipient of an Objection</h3>
  <p>Max Mustermann</p>
  <hr>
  <h2>Changes to our Privacy Policy</h2>
  <p>We reserve the right to modify this privacy policy to ensure that it always complies with current legal requirements
    or to implement changes to our services in the privacy policy, for example, when introducing new services. The new
    privacy policy will apply to your next visit.</p>
  <h2>Questions to the Data Protection Officer</h2>
  <p>If you have any questions about data protection, please write us an email or directly contact the person responsible
    for data protection in our organization:</p>
  <p></p><p><em>The privacy policy was created with the assistance of activeMind AG, the experts for <a
  href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">external data
  protection officers</a> (version #2020-09-30).</em></p>

</div>
