// Colors
$primary-col: #2A3647;
$col-light: #fff;
$col-dark: #000;
$col-light-blue: #29ABE2;
$col-light-gray: #F6F7F8;
$col-gray: #aaa;
$col-dark-gray: #555;
$col-orange: #FF3D00;
$col-navbar-hover: #2A3D59;
$col-navbar-active: #091931;
// Variables
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$font-family: 'Arial', Roboto,
"Helvetica Neue",
sans-serif;
$padding-content: 0px 20px;
$padding-main-content: 40px 20px;
$header-height: 60px;
$navbar-desktop-width: 200px;
$mobile-nav-height: 50px;
