<div class="contact-details-box">

  <div class="headline-box">
    <div class="top-line">
      <h1>Contacts</h1>
      <button mat-icon-button>
        <mat-icon color="accent">arrow_back</mat-icon>
      </button>
    </div>
    <div class="bottom-line">
      <div class="divider"></div>
      <div class="sub-text">Better with a team</div>
    </div>

  </div>


  <div class="contact-details">
    <div class="avatar">A M</div>

    <div class="contact-info">
      <div class="name">Anton Mayer</div>
      <div class="icons-box">
        <button (click)="editContact()" mat-button color="primary">
          Edit
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteContact()" mat-button color="primary">
          Delete
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <h2>Contact Information</h2>
  <div class="email-box">
    <div class="email-label">Email</div>
    <div class="email">
      <a href="mailto:anton@gmail.org">anton&#64;gmail.com</a>
    </div>
  </div>

  <div class="tel-box">
    <div class="tel-label">Phone</div>
    <address>
        <a class="tel" href="tel:+49123456789">+49123456789</a>
    </address>
  </div>

</div>


