<div class="button-box">
  <button (click)="onCreateContact()" mat-flat-button color="primary">
    Add a new contact
    <mat-icon>person_add</mat-icon>
  </button>
</div>

<div class="contact-list-box">
  <div class="mobile-add-contact">
    <button (click)="onCreateContact()" mat-icon-button>
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <mat-list role="list">
    @for (letter of Object.keys(groupedAndSortedContacts); track letter) {
      <mat-list-item role="listitem">{{ letter }}</mat-list-item>
      <mat-divider></mat-divider>
      @for (contact of groupedAndSortedContacts[letter]; track contact.id) {
        <app-contact [contact]="contact"></app-contact>
      }
    }
  </mat-list>
</div>
