@import '../../../../../../styles/variables';
@import '../../../../../../styles/media-queries';

$contact-button-padding: 10px;
$contact-button-height: 50px;

.button-box {
  padding: $contact-button-padding 20px;
}

button {
  width: 100%;
  height: $contact-button-height;
}

.contact-list-box {
  padding: 0 10px;
  height: calc(100% - $contact-button-height - $contact-button-padding - $contact-button-padding);
  overflow-y: auto;
  position: relative;
}

.mobile-add-contact {
  position: absolute;
  z-index: 2;
  right: 60px;
  bottom: 60px;

  button {
    position: fixed;
    background-color: $col-primary;
    color: #fff;
    display: none;
  }
}

@include large-screen {
  .button-box {
    display: none;
  }

  .mobile-add-contact button {
    display: block;
  }

  .contact-list-box {
    height: 100%;
  }
}
