<mat-list-item [ngClass]="{'active': selectedUser == user}" (click)="onSelectUser(user)" class="clickable" role="listitem">
    <div class="user-box">
      @if (user){
        <app-avatar [initials]="getInitials(user?.name)" [size]="35" [backgroundColor]="user.avatarColor"></app-avatar>
      }
        <div class="user-info-box">
            <div class="name">{{ loggedUser?.id === user?.id? loggedUser?.name: user?.name }}</div>
            @if(!user?.isGuest) {
              <div class="email">{{ user?.email }}</div>
            }
        </div>
    </div>
</mat-list-item>
