<div class="task-status-container">
  <div class="title-container">
    <div class="title">{{taskStatus.value}}</div>
    @if (taskStatus.key !== TASK_STATUSES['DONE'].key) {
      <mat-icon (click)="createTaskDialog(taskStatus)" color="primary" class="clickable">add</mat-icon>
    }
  </div>

  <div #list="cdkDropList" cdkDropList [id]="taskStatus.key" [cdkDropListData]="assignTasksByStatus(taskStatus)" (cdkDropListDropped)="onDropTask($event)" [cdkDropListConnectedTo]="taskStatusKeys" class="task-status-drop-list">
    @if(list.data?.length === 0) {
      <div class="no-task-container">
        <div>No Tasks</div>
      </div>
    }

    <ng-container *ngIf="!isScreenLarge; else smallScreenTemplate">
      <ng-template [ngTemplateOutlet]="largeScreenTemplate"></ng-template>
    </ng-container>

    <ng-template #largeScreenTemplate>
      @for (task of list.data ;track task.id) {
        <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
      }
    </ng-template>

    <ng-template #smallScreenTemplate>
    <p-carousel
      [value]="list.data"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true">
      <ng-template let-task pTemplate="item">
        <div class="border-1 surface-border border-round p-1">
          <div>
            <div class="relative mx-auto">
              <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
  </div>
</div>
