<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up-form">
  <img src="../../../../assets/images/logo_dark.svg" alt="">
  <h1>Sign up</h1>
  <hr>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" placeholder="Firstname Lastname">
    <mat-icon color="primary" matSuffix>person</mat-icon>
    @if (signUpForm.get('name')?.touched) {
      <mat-error>
        @switch (true) {
          @case (signUpForm.get('name')?.hasError('required'))
            { Name is required }
          @case (signUpForm.get('name')?.hasError('minlength'))
            { Name needs 2 characters }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com ">
    <mat-icon color="primary" matSuffix>email</mat-icon>
    @if (signUpForm.get('email')?.touched) {
      <mat-error>
        @switch (true) {
          @case (signUpForm.get('email')?.hasError('required'))
            { Email is required }
          @case (signUpForm.get('email')?.hasError('email'))
            { Please enter a valid email }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-icon color="primary" matSuffix>password</mat-icon>
    @if (signUpForm.get('password')?.touched) {
    <mat-error>
        @switch (true) {
          @case (signUpForm.get('password')?.hasError('required'))
            { Password is required }
          @case (signUpForm.get('password')?.hasError('minlength'))
            { Password must be 6 characters in length }
        }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" type="password" [errorStateMatcher]="matcher">
    <mat-icon color="primary" matSuffix>password</mat-icon>
    @if (signUpForm.get('confirmPassword')?.touched) {
      <mat-error>
          @switch (true) {
            @case (signUpForm.get('confirmPassword')?.hasError('required'))
              { Confirm Password is required }
            @case (signUpForm.errors?.['mismatch']) { Password does not match }
          }
      </mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="privacyPolicy">
      <span class="privacy-policy-box">
        I accept the <a class="privacy-policy" href="privacy-policy">Privacy Policy</a>
      </span>
  </mat-checkbox>

  <div class="button-box">
    <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid">
      Sign up
    </button>
  </div>

  <p class="login">Already a Join user?
    <button (click)="navigateToLogin()" mat-button type="button" color="accent">
      Login
    </button>
  </p>
</form>
