<div class="user-list-box">
    <mat-list-item role="listitem">ME</mat-list-item>
    <mat-divider></mat-divider>
    <app-user [user]="loggedUser"></app-user>
    <mat-list role="list">
        @if (groupedAndSortedUsers) {
          @for (letter of Object.keys(groupedAndSortedUsers); track letter) {
            <mat-list-item role="listitem">{{ letter }}</mat-list-item>
            <mat-divider></mat-divider>
            @for (user of groupedAndSortedUsers[letter]; track user.id) {
              <app-user [user]="user" [loggedUser]="loggedUser"></app-user>}
          }
        }

    </mat-list>
</div>
