@import '../../../../styles/media-queries';

.padding-main-content {
  padding:  20px;
  height: 100%;
  background-color: #fff;
}

@include large-screen {
  :host {
    height: max-content;
    display: inline-block;
    width: 100%;
  }
}


