<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <img src="../../../../assets/images/logo_dark.svg" alt="">
  <h1>Sign up</h1>
  <hr>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" placeholder="Firstname Lastname">
    @if (registerForm.get('name')?.dirty) {
      <mat-error>
        @switch (true) {
          @case (registerForm.get('name')?.hasError('required'))
            { Name is required }
          @case (registerForm.get('name')?.hasError('minlength'))
            { Name needs 2 characters }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com ">
    @if (registerForm.get('email')?.dirty) {
      <mat-error>
        @switch (true) {
          @case (registerForm.get('email')?.hasError('email'))
            { Please enter a valid email }
          @case (registerForm.get('email')?.hasError('required'))
            { Email is required }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
    @if (registerForm.get('password')?.dirty) {
    <mat-error>
        @switch (true) {
          @case (registerForm.get('password')?.hasError('required'))
            { Password is required }
          @case (registerForm.get('password')?.hasError('minlength'))
            { Password must be 6 characters in length }
        }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" type="password" [errorStateMatcher]="matcher">
    @if (registerForm.get('confirmPassword')?.dirty) {
      <mat-error>
          @switch (true) {
            @case (registerForm.get('confirmPassword')?.hasError('required'))
              { Confirm Password is required }
            @case (registerForm.errors?.['mismatch']) { Password does not match }
          }
      </mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="privacyPolicy">
      <span [ngClass]="{'error-text': registerForm.get('privacyPolicy')?.hasError('required')}">
        I accept the Privacy Policy
      </span>
  </mat-checkbox>

  <div class="button-box">
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
      Sign up
    </button>

    <button mat-raised-button color="accent">
      Guest Login
    </button>
  </div>

  <p class="login">Already a Join user?
    <button (click)="navigateToLogin()" mat-button color="accent">
      Login
    </button>
  </p>
</form>
