@import '../../../../styles/variables';
@import '../../../../styles/media-queries';
@import '../../../../styles/mixins';

@include custom-checkbox-styles(".custom-checkbox");

.form-container {
  background-color: $col-light-gray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #fff;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

img {
  width: 50px;
  height: auto;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

div.hr {
  background-color: $col-light-blue;
  width: 100px;
  height: 2px;
  border-radius: 2px;
  margin: 5px auto 30px auto;
}

.remember-me {
  font-size: 11px;
}

.button-box {
  display: flex;
  column-gap: 10px;
}

.sign-up {
  font-size: 13px;
}

.sign-up button:hover {
  font-size: 15px;
}

.privacy-legal-container {
  display: flex;
  column-gap: 25px;
  font-size: 11px;
  color: $col-gray;
}

.privacy-legal-container > *:hover {
  color: $col-light-blue;
}

.animated-button {
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

@include small-screen {
  .form-container {
    background-color: #fff;
    row-gap:0;
  }

  .login-form {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    background: #fff;
    border-radius: 0;
    box-shadow: unset;
    padding: 20px 20px;
  }

  .button-box {
    flex-direction: column;
    row-gap: 10px;
  }
}
