@import '../../../../styles/variables';
@import '../../../../styles/media-queries';
@import '../../../../styles/mixins';

@include custom-checkbox-styles(".custom-checkbox");

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #fff;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

img {
  width: 50px;
  height: auto;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

div.hr {
  background-color: $col-light-blue;
  width: 100px;
  height: 2px;
  border-radius: 2px;
  margin: 5px auto 30px auto;
}

.remember-me {
  font-size: 11px;
}

.button-box {
  display: flex;
  column-gap: 10px;
}

.sign-up {
  font-size: 13px;
}

.sign-up button:hover {
  font-size: 15px;
}

@include medium-screen {
  .login-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
  }
}

@include small-screen {
  .login-form {
    width: 100%;
  }
  .button-box {
    flex-direction: column;
    row-gap: 10px;
  }
}
