<div class="task-container">
  <mat-card>
    <mat-card-content>
      <div class="menu-container mb-1">
        <div [ngStyle]="{'background-color': getCategoryColor(Category.USER_STORY)}" class="category">{{ task.category }}</div>
            <div>
              <mat-icon [matMenuTriggerFor]="menu" class="clickable">more_vert</mat-icon>
            </div>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="taskStatus">
              <mat-icon color="primary">drag_indicator</mat-icon>
              <span>Move to ...</span>
            </button>
            <button mat-menu-item>
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>

        <mat-menu #taskStatus="matMenu">
          @for (taskStatus of taskStatuses; track taskStatus) {

            @if (taskStatus.value.toString().toUpperCase() !== task.taskStatus.toString().toUpperCase()) {
              <button mat-menu-item >{{ taskStatus.value }}</button>
            }
          }
        </mat-menu>
      </div>

      <div matTooltip="{{task.title}}" class="title mb-1">{{task.title}}</div>

      <div matTooltip="{{task.description}}" class="description mb-2">{{task.description}}</div>

      <div class="progressbar-container mb-3">
        <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" [ngStyle]="{'width': '25%'}"></div>
        </div>

        <div class="subtask">
          <span>1/</span>
          <span>{{task.subtasks.length}}</span>
          <span>Subtasks</span>
        </div>
      </div>


      <div class="avatar-container">
        <div class="avatar-group">
          @for (contact of task.contacts; track contact) {
            <div [ngStyle]="{'background-color': contact.avatarColor}" class="avatar" matTooltip="{{contact.name}}">{{'AA'}}</div>
          }
        </div>

        <!-- <div class="priority">Prio</div> -->
        <mat-icon [ngStyle]="{'color': PriorityProperties[task.priority].color}"
                  matSuffix>{{ PriorityProperties[task.priority].icon }}
        </mat-icon>

      </div>
    </mat-card-content>
  </mat-card>
</div>
