<div class="task-container">
  <div class="no-task-container">
    <div>No task To Do</div>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="menu-container mb-1">
        <div [ngStyle]="{'background-color': getCategoryColor(task.category)}" class="category">{{ task.category }}</div>
            <div>
              <mat-icon [matMenuTriggerFor]="menu" class="clickable">more_vert</mat-icon>
            </div>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="taskStatus">
              <mat-icon color="primary">drag_indicator</mat-icon>
              <span>Move to ...</span>
            </button>
            <button (click)="editTaskDialog(task)" mat-menu-item>
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button (click)="deleteTaskDialog(task.id)" mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>

        <mat-menu #taskStatus="matMenu">
          @for (taskStatus of taskStatuses; track taskStatus) {

            @if (taskStatus.value.toString().toUpperCase() !== task.status.toString().toUpperCase()) {
              <button mat-menu-item >{{ taskStatus.value }}</button>
            }
          }
        </mat-menu>
      </div>

      <div matTooltip="{{task.title}}" class="title mb-1">{{task.title}}</div>

      <div matTooltip="{{task.description}}" class="description mb-2">{{task.description}}</div>

      @if (task.subtasks.length) {
        <div class="progressbar-container mb-3">
          <div class="progress" role="progressbar" [attr.aria-valuenow]="calcProgressBarValue(task.subtasks)" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" [ngStyle]="{'width': calcProgressBarValue(task.subtasks) + '%'}"></div>
          </div>

          <div class="subtask">
            <span>{{countCompletedSubtasks(task.subtasks)}}/</span>
            <span>{{task.subtasks.length}}</span>
            <span>Subtasks</span>
          </div>
        </div>
      }

      <div class="avatar-container">
        <div class="avatar-group">
          @for (contact of task.contacts; track contact) {
            <div [ngStyle]="{'background-color': contact.avatarColor}" class="avatar" matTooltip="{{contact.name}}">{{getInitials(contact.name)}}</div>
          }
        </div>

        <mat-icon [ngStyle]="{'color': PriorityProperties[task.priority].color}"
                  matSuffix>{{ PriorityProperties[task.priority].icon }}
        </mat-icon>

      </div>
    </mat-card-content>
  </mat-card>
</div>
