@import '../../../../../../../../styles/variables';
@import '../../../../../../../../styles/mixins';
@import '../../../../../../../../styles/media-queries';

$ticket-height: 170px;

@mixin clamp-lines($line-count) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-count; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-clamp: $line-count;
}

.task-container {
  background-color: #fff;
  font-size: 12px;
  border-radius: 10px;
  min-height: $ticket-height;
}

:host ::ng-deep .mat-mdc-card {
  box-shadow: none;
}

:host:last-child .task-container {
  margin-bottom:10px;
}

:host ::ng-deep mat-card.mat-mdc-card mdc-card {
  height: $ticket-height;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  height: $ticket-height;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-icon-container {
    width: 25px;
    display: flex;
    justify-content: end;
  }

  mat-icon {
    @include custom-width-icon();
  }
}

.category {
  height: fit-content;
  padding: 3px 5px;
  border-radius: 10px;
  color: #fff;
}

.title {
  color: $col-primary;
  font-weight: bold;
}

.description {
  color: $col-gray;
}

.title, .description {
  @include clamp-lines(1);
}

.progressbar-container {
  display: flex;
  align-items: center;
  column-gap: 5px;

  .progress {
    flex-grow: 1;
  }

  .subtask {
    font-size: 10px;
    flex-grow: 0;
  }
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  .avatar-group {
    display:flex;

    :not(:first-child){
      margin-left: -8px;
    }
  }
}
