<div class='impressum'><h1>Imprint</h1>
  <p>Max Muster <br>
    Sample Road<br>
    12345 Sample City <br>
  </p>
  <p><strong>Contact:</strong> <br>
    Phone: 01234-789456<br>
    Fax: 1234-56789<br>
    Email: <a href='mailto:max@muster.de'>max&#64;muster.de</a><br></p>

  <p><strong>Disclaimer:</strong> <br><br><strong>Liability for Content</strong><br><br>
    The contents of our pages have been created with the utmost care. However, we cannot guarantee the accuracy,
    completeness, and timeliness of the content. As a service provider, we are responsible for our own content on these
    pages in accordance with general laws pursuant to § 7 para.1 TMG. According to §§ 8 to 10 TMG, however, we are not
    obligated to monitor transmitted or stored third-party information or to investigate circumstances that indicate
    illegal activity. Obligations to remove or block the use of information under general laws remain unaffected.
    However, liability in this regard is only possible from the time of knowledge of a specific legal violation. Upon
    becoming aware of such legal violations, we will remove these contents immediately.<br><br><strong>Liability for
      Links</strong><br><br>
    Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore,
    we cannot assume any liability for these external contents. The respective provider or operator of the pages is
    always responsible for the contents of the linked pages. The linked pages were checked for possible legal violations
    at the time of linking. Illegal contents were not recognizable at the time of linking. A permanent control of the
    linked pages is not reasonable without concrete evidence of a violation of law. Upon becoming aware of legal
    violations, we will remove such links immediately.<br><br><strong>Copyright</strong><br><br>
    The content and works created by the site operators on these pages are subject to German copyright law. The
    reproduction, editing, distribution, and any kind of exploitation outside the limits of copyright law require the
    written consent of the respective author or creator. Downloads and copies of this site are only permitted for
    private, non-commercial use. As far as the content on this site was not created by the operator, the copyrights of
    third parties are respected. In particular, third-party content is identified as such. Should you nevertheless
    become aware of a copyright infringement, please inform us accordingly. Upon becoming aware of legal violations, we
    will remove such contents immediately.<br><br><strong>Data Protection</strong><br><br>
    The use of our website is usually possible without providing personal data. As far as personal data (e.g., name,
    address, or email addresses) is collected on our website, this is always done on a voluntary basis, as far as
    possible. This data will not be passed on to third parties without your express consent.<br>
    We point out that data transmission over the Internet (e.g., when communicating by email) can have security gaps. A
    complete protection of data against access by third parties is not possible.<br>
    The use of contact data published within the framework of the imprint obligation by third parties for sending
    unsolicited advertising and information materials is hereby expressly prohibited. The operators of the pages
    expressly reserve the right to take legal action in the event of unsolicited sending of advertising information,
    such as spam emails.<br>
    <br><br><strong>Google Analytics</strong><br><br>
    This website uses Google Analytics, a web analytics service provided by Google Inc. (''Google''). Google Analytics
    uses so-called ''cookies'', text files that are stored on your computer and that allow an analysis of the use of the
    website by you. The information generated by the cookie about your use of this website (including your IP address)
    is transmitted to a Google server in the USA and stored there. Google will use this information to evaluate your use
    of the website, to compile reports on website activity for website operators, and to provide other services related
    to website activity and internet usage. Google may also transfer this information to third parties if required by
    law or if third parties process this data on behalf of Google. Google will not associate your IP address with any
    other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser,
    however, please note that if you do this you may not be able to use the full functionality of this website. By using
    this website, you consent to the processing of data about you by Google in the manner and for the purposes set out
    above.<br><br><strong>Google AdSense</strong><br><br>
    This website uses Google AdSense, a service for integrating advertisements from Google Inc., USA (''Google'').
    Google AdSense uses so-called ''cookies'' (text files) that are stored on your computer and that enable an analysis
    of the use of the website by you. Google AdSense also uses so-called ''web beacons'' (small invisible graphics) to
    collect information. The use of web beacons allows simple actions such as visitor traffic to be recorded and
    collected on the website. The information generated by the cookie and/or web beacon about your use of this website
    (including your IP address) is transmitted to a Google server in the USA and stored there. Google will use this
    information to evaluate your use of the website with regard to advertisements, to compile reports on website
    activity and advertisements for website operators, and to provide other services related to website activity and
    internet usage. Google may also transfer this information to third parties if required by law or if third parties
    process this data on behalf of Google. Google will not associate your IP address with any other data held by Google.
    You can prevent cookies from being saved on your hard drive and the display of web beacons by selecting ''do not
    accept cookies'' in your browser settings (in MS Internet Explorer under ''Tools > Internet Options > Privacy >
    Settings''; in Firefox under ''Tools > Settings > Privacy > Cookies''); however, please note that if you do this,
    you may not be able to use the full functionality of this website. By using this website, you consent to the
    processing of data about you by Google in the manner and for the purposes set out above.</p>
</div>
