<div class="padding-main-content">
  <h1>Imprint</h1>
  <h2>Information according to § 5 TMG:</h2>
  <p><br>Max Mustermann</p>
  <h3>Postal Address:</h3>
  <p>Street 1<br>12345 Berlin<br></p>
  <h3>Contact:</h3>
  <p>Phone: 0176 123456789<br>Email: email&#64;email.de</p>
  <p></p><p><br></p>
  <p></p><h2>Website Notes</h2>
  <p></p><p><em>The imprint was created with the <a href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator
  of activeMind AG.</a></em></p>
</div>

