<div mat-dialog-title class="title-container">
  <h2>Add Task</h2>
  @if (fromPopup) {
    <button mat-icon-button mat-dialog-close color="primary" aria-label="close dialog">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>

<mat-dialog-content class="mat-typography content-container" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" type="text" placeholder="Enter a title">
    <mat-icon color="primary" matSuffix>subject</mat-icon>
    @if (taskForm.get('title')?.touched) {
      <mat-error>
        @switch (true) {
          @case (taskForm.get('title')?.hasError('required')) {
            Title is required
          }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a due date</mat-label>
    <input matInput formControlName="dueDate" [min]="minDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon color="primary" matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (taskForm.get('dueDate')?.touched) {
      <mat-error>
        @switch (true) {
          @case (taskForm.get('dueDate')?.hasError('required')) {
            Due Date is required
          }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea rows="1" matInput formControlName="description" type="text"
              placeholder="Enter a Description"></textarea>
    <mat-icon color="primary" matSuffix>description</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      @for (priority of Object.values(PRIORITIES); track priority.key) {
        <mat-option value={{priority.key}}>{{ priority.value }}
          <mat-icon [ngStyle]="{'color': priority.color}"
                    matSuffix>{{ priority.icon }}
          </mat-icon>
        </mat-option>
      }
    </mat-select>
    @if (taskForm.get('priority')?.touched) {
      <mat-error>
        @switch (true) {
          @case (taskForm.get('priority')?.hasError('required')) {
            Priority is required
          }
        }
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-icon color="primary" matSuffix>category</mat-icon>
    <mat-select formControlName="category">
      @for (category of Object.values(CATEGORIES); track category.key) {
        <mat-option value={{category.key}}>{{ category.value }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assigned to</mat-label>
    <mat-icon color="primary" matSuffix>group_add</mat-icon>
    <mat-select formControlName="assignedTo" multiple>
      @for (contact of contacts; track contact.id) {
        <mat-option [value]="contact.id">{{ contact.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-chip-field [control]="subTasksFormControl" [controlTitle]="'subtask'"></app-chip-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Create Task</button>
  <button mat-raised-button type="button" color="warn" (click)="onReset()">Clear</button>
</mat-dialog-actions>
