@import '../../../../../styles/media-queries';

$column-gap-content: 30px;

.title-container-from-popup, .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container-from-popup {
  padding-top: 20px;
}

.title-container {
  margin-bottom: 30px;
}

.title {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bold;
  margin-right: auto;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: $column-gap-content;

  > * {
    flex: 1 1 calc(50% - $column-gap-content);
  }
}

.from-popup, .not-from-popup {
  padding-bottom: 20px;
  display: flex;
  column-gap: 10px;

  button {
    margin: 0;
  }
}

.from-popup {
  padding-left: 24px;
}

@include large-screen {
  .content-container > * {
    flex: 100%;
  }
}
